$font-family:'Poppins', 'Open Sans' ;
$font-size:14px;
$line-height:24px;
$font-weight1:400px;
$font-weight2:600px;
$font-weight-bold:bold;
$black:black;
$white:white;
$red:#f34236;
$gray:#121212;
$h2-margin-bottom: 40px;
$padding-bottom:40px;
 $padding-top: 70px;
 $header-margin-top:12px;
 $logo:26px;

